@using System.Web.Mvc.Html
@using AttendanceSystem.Models

@{
    ViewBag.Title = "Create Shift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<br />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Shift"))
        {
            <div class="row">
                <div class="col-md-2">
                    <label>Shift Name</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="Name" required="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>ExpectedEntryTime</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="ExpectedEntryTime" required="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label>GraceEntryTime</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="GraceEntryTime" required="">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <label>ExpectedExitTime</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="ExpectedExitTime">
                </div>
            </div>

            <input class="btn btn-success" type="submit" value="Submit">
            <a class="btn btn-info" href="/Shift/Index">Cancel</a>

        }
    </div>
</div>
