@model AttendanceSystem.Models.Department

@{
    ViewBag.Title = "Department Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shift Details</h2>
<br/>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
    </tr>
</table>
<a class="btn btn-info" href="/Dept/Index">Go Back</a>
